<body>
  <section>
  <br><h1>Hello</h1>
  <div class='content-container'>
      <p>I am prabhakaran18, a Associate engineer interseted in developing web application.I like to solve logical problems.I am intersted in coding contests on platforms like Code chef,Hackerrank etc.My area of interest is Data structures</p>
      <p>Apart from coding, I love cricket.I am a fan of Ab de villiers and Virat kohli.My favorite team in IPL is RCB.My favorite innings of virat kohli is which he played against australia in T20 worldcup 2016.I like to play other sports along with cricket but cricket remains to be my priority.I am a Right handed batsman.I also like to watch movies.My favorite actors are vikram,jeyam Ravi.My favorite movies is D3</p>
      <p>The <a href="posts.html">posts</a> are my own little way of sharing my interests and other such things.some of the best platforms to share the knowledge is through,quora,github etc </p>
  </div>
</section>
</body>