.float-left {
    float: left;
    margin-left: 40px;
} 
.float-right {
    float: right;
    margin-right: 40px;
}
.float-right a{
    margin-right: 10px;
}
.float-left a {
    margin-right: 10px;
}
a {
    text-decoration: none;
}